@font-face
    font-family 'kelson'
    src url('fonts/kelson_sans_regular.ttf');
    font-weight bold
    font-style normal

@font-face
    font-family 'kelson'
    src url('fonts/kelson_sans_light.ttf');
    font-weight 100
    font-style normal
