$color = #7258a1
$light = 100
$global-ease = cubic-bezier(.4,0,.5,1)
$font-title = 'kelson', serif

body
    padding 10px 20px
    background #F8F6F9

.wrapper
    width 100%
    max-width 1200px
    margin-right auto
    margin-left auto
    font-size 18px

.intro
    text-align center
    margin 10px auto 40px

    .logo
        display block
        width 60px
        height 60px
        margin 20px auto 10px
        fill #7258a1

.page-title
    font-family $font-title
    color $color
    font-size: 32px;
    font-weight $light
    letter-spacing 4px
    margin 0 auto 40px

.main-footer
    width 75%
    margin 100px auto 20px
    text-align center

    &:before
        content: '';
        display inline-block
        width 100%
        border-top 1px solid #C7C3C9
        margin-bottom 20px

    .links-list
        display flex
        flex-direction row
        justify-content space-between
        align-items center

        .item
            flex-grow: 1

.works-list
    .item + .item
        margin-top 40px

    .work
        display flex
        flex-direction row
        align-items center

        @media (max-width: 768px)
            flex-direction column
            text-align center

    .item:nth-child(even) .work
        flex-direction row-reverse
        text-align right

        @media (max-width: 768px)
            flex-direction column
            text-align center

    .media,
    .infos
        width 50%
        @media (max-width: 768px)
            width 100%

    .item
        .filet
            position relative
            display block

            @media (max-width: 768px)
                width 40px
                border-bottom 1px solid $color
                margin 30px 0

            @media (min-width: 767px)
                margin-right 30px
                margin-left 30px
                height 0px
                width 0px
                transform rotate(0deg)
                transform-origin 50% 50%
                backface-visibility hidden
                transition transform .4s $global-ease

                &::before
                &::after
                    content ''
                    position absolute
                    top -20px
                    left -20px
                    width 20px
                    height 20px
                    transform-origin 100% 0
                    backface-visibility hidden
                    transition transform .4s $global-ease
                &::before
                    border-top 1px solid $color
                    transform rotate(90deg)
                &::after
                    border-right 1px solid $color
                    transform rotate(0deg)

    @media (min-width: 767px)
        .item:hover
            .filet
                transform translate(10px, 0)

                &::before,
                &::after
                    transform rotate(45deg)

    .item:nth-child(even)
        .filet
            transform rotate(180deg)
        &:hover .filet
            transform translateX(-10px) rotate(180deg)

    .media

    .infos
        font-size 16px

.screen-viewer
    max-height 400px
    overflow-y hidden

    .image
        backface-visibility hidden
        transition transform .8s $global-ease 1s
    &:hover
        .image
            transform translateY( calc(-100% + 400px) )
            transition transform .8s $global-ease

.media
    position relative

    .overlay
        position absolute
        top 20px
        right 20px
        bottom 20px
        left 20px
        width 300px
        height 300px
        margin auto
        border-radius 50%
        border 45px solid $color
        mix-blend-mode hard-light
        opacity 0
        transform scale(.7)
        transition opacity 1.5s $global-ease, transform 20s $global-ease

    &:hover .overlay
        opacity 1
        transform scale(1)

.card
    display inline-block
    max-width 300px

    @media (max-width: 768px)
        margin-right auto
        margin-left auto


    .site-title
        font-family $font-title
        color $color
        font-size 28px
        font-weight $light
        letter-spacing 1px
        line-height 1
        margin-bottom 10px


    .agency
        font-size 14px
        color #555
        font-style italic

        &:before
            // content '–'
            // display inline-block
            // vertical-align middle
            // position relative
            // top -1px
            // font-weight bold
            // font-size 10px
            margin-right 4px

    .site-url
        font-family monospace
        font-size 14px
        color #000
        margin-bottom 10px

.link
    position relative
    display inline-block
    padding 0 4px
    transition color .4s $global-ease .4s

    &:before
        content '>'
        display inline-block
        vertical-align middle
        position relative
        top -1px
        font-weight bold
        font-size 10px
        margin-right 4px

    &:after
        content ''
        position absolute
        z-index -1
        right 0
        bottom 0
        top: 0;
        left 0
        width 0
        height 100%
        background-color $color
        transition width 1s $global-ease
    // &,
    &:focus,
    &:hover
        color #fff
        transition color .4s $global-ease .2s

        &:after
            width 100%
            transition width 1s $global-ease




@keyframes filet
    0%
        height 40px
    100%
        height 10px


// cases

.work-selectiveline,
.work-milkdeco
    .media
        overflow-x hidden
    .video
        width: 101%;
        max-width: none;

.work-selectiveline
    .video
        position: relative;
        top: -1px;